node_modules/
.env
package-lock.json
chrome_profile_dvids/

# Credentials
*_cookies.txt
*_cookies.txt.txt
*.json
!package.json
.env*

# Test
test/

# Output & assets
noidung_*/
db/
outsources/
*.db
*.sqlite
database/
*.mp4
*.mp3
*.wav
*.webm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
chrome_*
